@page "/fetchdata"

<PageTitle>ALL Products</PageTitle>

@using SIS_Technology_InterviewProject.Data
@inject ProductService ProductService

<h1>Products</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (productList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <DxGrid Data="@productList" CssClass="table" KeyboardNavigationEnabled="true">
        <Columns>
            <DxGridCommandColumn Width="25%">   </DxGridCommandColumn>
            <DxGridDataColumn FieldName="ProductName" Caption="Product Name" Width="25%"/>
            <DxGridDataColumn FieldName="Category" Width="25%" />
            <DxGridDataColumn FieldName="UnitPrice" DisplayFormat="C" Width="25%" />
            <DxGridDataColumn FieldName="DateAdded" Caption="Date Added" DisplayFormat="dd/MM/yyyy" Width="25%" />
        </Columns>
        <SearchBoxTemplate>
            <DxTextBox />
            <DxButton Text="Search" />
        </SearchBoxTemplate>
    </DxGrid>
}

@code {
    private IEnumerable<Product>? productList;

    protected override async Task OnInitializedAsync()
    {
        productList = await ProductService.GetAllProductsAsync();
    }
}
