@page "/"

<PageTitle>Home</PageTitle>

<br />
<div class="card mb-3 mx-auto d-flex justify-content-center vh-99 align-items-center" style="width: 90rem;">
    <img src="https://scontent-sof1-1.xx.fbcdn.net/v/t39.30808-6/292456101_470023381793543_5531332255044246237_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_ohc=ix7BcZBIi8kQ7kNvgFaequ8&_nc_ht=scontent-sof1-1.xx&oh=00_AYDEsHCbStwVPjAn4O7ioboqhfVHkIf9JxRNgjR65Cehsg&oe=6659FDBC" class="card-img-top" alt="logo">
    <div class="card-body text-center">
        <h1 class="card-title">Hello, SIS Technology team!</h1>
        <br />
        <h2 class="card-subtitle mb-2 text-muted">Welcome to my Interview assignment.</h2>
        <br />
        <br />
        <p class="card-text fs-3">
            This project is developed using .NET 6.0, Blazor, Dapper, and DevExpress.
            The database is created using the Database First approach, with the corresponding SQL code and some test data provided in the README file. Additionally,
            I utilized DevExpress components for enhanced user interface elements, particularly evident in the Graphical Analysis menu.
        </p>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div class="socials mt-5 ">
            <a href="https://github.com/glachezar/SIS_Technology_InterviewProject" class="card-link fs-3 m-5">Link to the project on GitHub</a>
            <a href="https://glachezar.github.io/" class="card-link fs-3 m-5">Check Out My Page</a>
            <a href="https://www.linkedin.com/in/lachezar-georgiev-8a1182101/" class="card-link fs-3 m-5">Linkedin</a>
        </div>

    </div>

</div>


